    .tripdetail .container {
      border: 1px solid white;
      width: 100%;
      height: 70px;
      background-color: white;
    }

    .tripdetail .table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      margin-bottom: 40px;
    }
    .tripdetail .table1 {
      margin-bottom: 70px;
      margin-left: -200px;
    }
    .tripdetail th, td {
      border: 1px solid #ddd;
      padding: 20px;
      text-align: center;
    }
    .tripdetail .colspan {
      background-color: rgba(212, 150, 150, 0.4);
    }

     .tripdetail .card .card-body{
     height: 800px;
    padding-left: 195px;
     }


