<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.withtrip.mapper.TripDetailMapper">

    <sql id = "TripDetailColumns">
        detail_id
        ,plan_id
        ,time_id
        ,detail_date
        ,activity
        ,location
        ,detail_created
        ,detail_update
    </sql>

   <!--여행 세부일정 삽입 -->
    <insert id ="insertTripDetail" parameterType="TripDetailDTO">
        INSERT INTO trip_detail(
        <include refid ="TripDetailColumns" />
        ) VALUES (
        #{detail_id}
        ,#{plan_id}
        ,#{time_id}
        ,#{detail_date}
        ,#{activity}
        ,#{location}
        ,NOW()
        ,NULL
    </insert>

    <!--단일 세부계획 조회-->
    <select id = "getDetailById" parameterType="long" resultType="TripDetailDTO">
        SELECT
        FROM
            trip_detail
        WHERE
            detail_id = #{detail_id}
    </select>

    <!--세부계획 조회-->
    <select id = "getTripDetail" parameterType="long" resultType="TripDetailDTO">
        SELECT
            <include refid ="TripDetailColumns"/>
        FROM
            trip_detail
        ORDER BY
            detail_id ASC
    </select>


</mapper>